{% extends "APP/padre.html" %}

{% load static %}


{% block titulo %}
    <h1>Publications</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h1> Add a new publication </h1>

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Agregar">
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Publication</th>
            <th>Price</th>
            <th>Date Publication</th>
            <th>Is sell?</th>
        </tr>

    </thead>
    <tbody>

        {% for publication in publications %}
        <tr>
            <td>
                {{ publication.id }}
            </td>
            <td>
                {{ publication.user_name }}
            </td>
            <td>
                {{ publication.publication }}
            </td>
            <td>
                {{ publication.price_publication }}
            </td>
            <td>
                {{ publication.date_publication }}
            </td>
            <td>
                {{ publication.publication_sell }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}